<div class="topnav">
    <a href="/addstudent">Add Student</a>
    <a href="/addteacher">Add Teacher</a>
    <a href="/viewstudent">View Student</a>
    <a href="/viewteacher">View Teachers</a>
</div>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Add Teacher </h2>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Name">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Designation">
            <br>
            <button class="fadeIn fourth">Add</button>
        </form>

    </div>
</div>