<div class="topnav">
    <a routerLink="/viewassignmentstudent">View Assignment</a>
    <a routerLink="/viewmaterialstudent">Material Uploaded</a>
</div>
<table id="customers">
    <tr>
        <th>Subject</th>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
    </tr>

    <tr *ngFor="let material of materials;">
        <td>{{material.subject}}</td>
        <td>{{material.title}}</td>
        <td>{{material.detail}}</td>
        <td><a href="{{material.link}}" target="_blank">{{material.link}} </a></td>
    </tr>



</table>
