<div class="topnav">
    <a href="/addassignment">Add Assignment</a>
    <a href="/addmaterial">Add Material</a>
    <a href="/viewassignment">View Assignment</a>
    <a href="/viewmaterial">View Material</a>
</div>


<table id="customers">
    <tr>
        <th>Assignment No</th>
        <th>Question</th>
        <th>Description</th>
        <th>Marks</th>
    </tr>
    
    <tr *ngFor="let assignment of assignments;">
        <td>{{assignment.number}}</td>
        <td>{{assignment.question}}</td>
        <td>{{assignment.detail}}</td>
        <td>{{assignment.marks}}</td>
    </tr>
    
    
    
</table>